/* Header */
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.header_inner {
	display: flex;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 24px;
	text-transform: uppercase;
	color: white;
}
.logo h3 {
	margin-left: 1em;
}
.logo img {
	width: 10%;
}



/* Nav */
nav {
	font-size: 18px;
	text-transform: uppercase;
	margin: auto 0;
	transition: color 0.3s linear, background-color 0.3s linear;
}

.nav_link, .nav_btn {
	display: inline-block;
	vertical-align: top;
	margin: auto 5px;
	padding: 5px;
	position: relative;
	color: gray;
	text-decoration: none;
	font-weight: 300;
	transition: color 0.3s linear;
}

.nav_link {
	color:gray;
	border-bottom: 2px solid transparent;
	transition: border-color 0.3s linear, color 0.3s linear;
}
.nav_link:hover, .nav_link.active, .nav_link:focus {
	color: white;
	border-color: white;
}

.nav_btn {
	padding: 5px 20px;
	color:white;
	border: 1px solid white;
	border-radius: 3px;
	transition: box-shadow 0.3s linear, background-color 0.3s linear;
}
.nav_btn:hover, .nav_btn.active, .nav_btn:focus {
	background-color: rgba(0,0,0,0.25);
	box-shadow: 0 0 5px white;
}