.content_block {
	background-color: white;
	padding: 50px 0;
}
.content * {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}

.title {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
}
.title:after {
	content: "";
	display: block;
	width: 80px;
	height: 5px;
	background-color: #1f166a;
	margin: 30px 0;
	top: 100%;
	z-index: 1;
}

.subtitle {
	margin: 0 0 30px 0;
	line-height: 1;
}

ul {
	margin-left: 1em;
	padding: 0;
}

.quotation {
	text-align: justify;
	font-weight: 300;
	font-size: 26px;
	line-height: 1;
	margin: 0;
}
.quotation:after {
	content: "";
	display: inline-block;
	width: 100%;
	line-height: 1;
}
.quotation_author {
	font-weight: 300;
	letter-spacing: 1px;
	text-align: right;
	line-height: 1;
	margin: 1em 0 0 0;
}
.creed {
	text-align: center;
	padding: 25px 0;
}